<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<meta charset="UTF-8">
	<title>API training: Go Mem!</title>
</head>

<body>
	<div id="apiApp" class="container">
    <div class="row">
      <div class="col-md">
        
    		<table class="table table-striped table-bordered table-hover table-sm">
    			<thead class="thead-light">
    				<tr>
    					<th class="col">id</th>
    					<th class="col">name</th>
    					<th class="col">email</th>
    				</tr>
    			</thead>

    			<tbody>
    				<tr v-for="(user, index) in users" @click="rowClicked($event, user)">
    					<td scope="row">{{ user.id }}</td>
    					<td>{{ user.name }}</td>
    					<td>{{ user.email }}</td>	
    				</tr>
    			</tbody>
    		</table>	
      </div>
    </div><!-- row -->

    <div class="row">
      <div class="col-md">

        <form action="#">

          <div class="form-group">
            <label for="user-id">id: </label>  
            <input v-model="txtId" type="text" class="form-control" name="user-id">
          </div> 

          <div class="form-group">
            <label for="user-name">Name: </label>  
            <input v-model="txtName" type="text" class="form-control" name="user-name">
          </div> 

          <div class="form-group">
            <label for="email">Email: </label>  
            <input v-model="txtEmail" type="email" class="form-control" name="email">
          </div> 

        </form>        

      </div>
    </div><!-- row -->

    <button @click="clearFields($event)" type="button" class="btn btn-secondary">Clear</button>
    <button @click="btnAddClick($event)" type="button" class="btn btn-primary">Add New</button>
    <button @click="btnUpdateClick($event)" type="button" class="btn btn-success">Update</button>
    <button @click="btnDeleteClick($event)" type="button" class="btn btn-danger">Delete</button>

	</div><!-- apiApp /> -->
</body>
<!-- bootstrap 4  -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- bootstrap 4 -->

<!-- axios js cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

<!-- vue js cdn -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>

<script>

  // const BASE_URL = 'http://larasample.test';
  axios.defaults.baseURL = 'http://larasample.test';

	apiApp = new Vue({
		el: '#apiApp',
		data: {
			users: [],
      txtId: '',
      txtName: '',
      txtEmail: ''
		},
		computed: {
      dataWithId: function() {
        return {
          id   : this.txtId,
          name : this.txtName,
          email: this.txtEmail
        }
      },
      data: function() {
        return {
          name : this.txtName,
          email: this.txtEmail
        }
      }
		},
    methods:{
      rowClicked: function (event, user) {

        // put the clicked object's fields into v-models

        this.txtId    = user.id;
        this.txtName  = user.name;
        this.txtEmail = user.email;
      },
      clearFields: function (event) {
        this.txtId    = '';
        this.txtName  = '';
        this.txtEmail = '';
      },
      fetchData: function () {

        // get users from larasample.test api
        axios.get('/api/users')
        .then(function (response) {
          // console.log(response);
          apiApp.users = response.data;
        });
      },
      btnAddClick: function (event) {

        // use axios' post method to send store request to larasample api
        axios.post('/api/users', this.data)
        .then(function (response) {
          console.log('success');
          // console.log(response);
          console.log(response.data);
          apiApp.users.push(response.data);
        })
        .catch(function (response) {
          console.log('fail');
          // console.log(response);
        });

      },
      btnUpdateClick: function (event) {

        // send axios' put request to larasample api with route model binding in laravel
        axios.put('/api/users/' + this.txtId, this.dataWithId)
        .then(function (response) {
          console.log('successful update');

          // update the current collection as well
          apiApp.users = apiApp.users.filter( (user) => {

            // if user.id == updated Id, update the object to update the collection in vue
            if ( user.id == parseInt(apiApp.txtId) ) {
              user.name  = apiApp.txtName;
              user.email = apiApp.txtEmail;
            }

            // return 1, for all records must be displayed
            return 1;
          });

        })
        .catch(function (response) {
          console.log('fail update');
          console.log(response);
        });
      },
      btnDeleteClick: function (event) {

        // send axios' delete request to larasample api using route model binding in laravel
        axios.delete('/api/users/' + this.txtId, this.dataWithId)
        .then(function (response) {
          console.log('succesful delete');

          apiApp.users = apiApp.users.filter( (user) => {

            // delete object if objectId == deleted ID 
            if( user.id == parseInt(apiApp.txtId) )
              delete user;
            else
              return 1;
          });
        })
        .catch(function (response) {
          console.log('fail delete');
          console.log(response);
        });
      }
    },
		created() {
      this.fetchData();
		}

	}); // vue js />

</script>
</html>

